{{ define "title" }}
<h1 class="entry-title">
  <a href="{{ .Permalink }}" rel="bookmark">
    {{ .Title }}
  </a>
</h1>
{{ end }}

{{ define "content" }}
{{ $currentPlayer := .Params.Player }}

<div class="text-center">
  <a href="https://tabletop.to/profile/{{ $currentPlayer }}">
    Profil tabletop.to <span class="glyphicon glyphicon-new-window"></span>
  </a>
</div>

<h2>Wyniki</h2>

{{ $currentPage := . }}
{{ $seasons := (slice 2022 2021) }}
{{ range $seasons }}
  {{ $seasonData := index $.Site.Data (printf "liga%d" .) }}
  {{ $currentPage.Scratch.Set "season" . }}
  {{ $players := $seasonData.data.ranking }}
  {{ range $players }}
      {{ if eq .id $currentPlayer }}
      {{ $currentPage.Scratch.Set "player" . }}
      {{ partial "season.html" $currentPage }}
    {{ end }}
  {{ end }}
{{ end }}

{{ end }}
