public/
.hugo_build.lock

/tools/cmd/players/players
/tools/cmd/ranking/ranking
/tools/cmd/tttscraper/tttscraper
/tools/cmd/tttscraper2/tttscraper2
/tools/cmd/statistics/statistics
/tools/cmd/scribe/scribe

kingsofwar-pl.sqlite3
