{{ define "title" }}
<h1 class="entry-title">
  <a href="{{ .Permalink }}" rel="bookmark">
    {{ .Title }}
  </a>
</h1>
{{ end }}

{{ define "content" }}
{{ $season := printf "liga%d" .Params.season }}
{{ $rankingData := index $.Site.Data .Params.ranking }}
{{ $factionData := index $.Site.Data .Params.factions }}
{{ $eventsData := index $.Site.Data .Params.events}}

<div class="text-center">Liczba graczy: {{ len $rankingData }}</div>
<table class="table table-hover">
  <thead>
    <tr>
      <td>#</td>
      <td>Gracz</td>
      <td>Liczba puntków</td>
    </tr>
  </thead>
  <tbody>
    {{ range $rankingData }}
    <tr>
      <td>{{ .rank }}</td>
      <td>
        <a href="{{ .id | printf "player/%s" | relURL }}" >{{ .name }}</a>
      </td>
      <td>{{ .points }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

<h2>Turnieje</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Data</td>
      <td>Turniej</td>
      <td>Liczba graczy</td>
    </tr>
  </thead>
  <tbody>
    {{ range $eventsData }}
    <tr>
      <td>{{ time.Format "2006-01-02" .date }}</td>
      <td><a href="{{ .tabletop_url }}">{{ .name }}</a></td>
      <td>{{ .players }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

<h2>Armie</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Armia</td>
      <td>Liczba graczy</td>
      <td>Liczba turniejów</td>
    </tr>
  </thead>
  <tbody>
    {{ range $factionData }}
    <tr>
      <td>{{ .faction }}</td>
      <td>{{ .player_count }}</td>
      <td>{{ .played_count }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
