{{ define "title" }}
<h1 class="entry-title">
  <a href="{{ .Permalink }}" rel="bookmark">
    {{ .Title }}
  </a>
</h1>
{{ end }}

{{ define "content" }}
{{ $season := printf "liga%d" .Params.season }}
{{ $seasonData := index $.Site.Data $season }}

<div class="text-center">Liczba graczy: {{ len $seasonData.data.ranking }}</div>
<table class="table table-hover">
  <thead>
    <tr>
      <td>#</td>
      <td>Gracz</td>
      <td>Liczba puntków</td>
    </tr>
  </thead>
  <tbody>
    {{ range $seasonData.data.ranking }}
    <tr>
      <td>{{ .rank }}</td>
      <td>
        <a href="{{ .id | printf "player/%s" | relURL }}" >{{ .player }}</a>
      </td>
      <td>{{ .points }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

<h2>Turnieje</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Data</td>
      <td>Turniej</td>
      <td>Liczba graczy</td>
    </tr>
  </thead>
  <tbody>
    {{ range $seasonData.data.tournaments }}
    <tr>
      <td>{{ time.Format "2006-01-02" .tournament.date }}</td>
      <td><a href="{{ .tournament.url }}">{{ .tournament.name }}</a></td>
      <td>{{ len .players }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

<h2>Armie</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Armia</td>
      <td>Liczba graczy</td>
      <td>Liczba turniejów</td>
    </tr>
  </thead>
  <tbody>
    {{ range $seasonData.data.factions }}
    <tr>
      <td>{{ .name }}</td>
      <td>{{ .no_players }}</td>
      <td>{{ .times_played }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
