<div class="list-group-item">
  <h5 class="list-group-item-heading">{{ .name }}</h5>
  <br>
  <p class="list-group-item-text">
    <span class="glyphicon glyphicon-calendar"></span>
    {{ time.Format "02.01.2006" .date }}{{ if .end_date }} - {{ time.Format "02.01.2006" .end_date }}{{ end }}
  </p>
  <a class="list-group-item-text"
     href="https://www.google.com/maps/search/?api=1&query={{ .location }}"
     target="_blank" rel="noopener noreferrer">
    <span class="glyphicon glyphicon-map-marker"></span>
    {{ .location }}
  </a>
  <p class="list-group-item-text">
    <span class="glyphicon glyphicon-th"></span>
    {{ .format }}
  </p>
  <p class="list-group-item-text">
    <a href="{{ .event_url }}">
      <span class="glyphicon glyphicon-info-sign"></span>
      Strona wydarzenia
    </a>
  </p>
  {{ if .signup_url }}
    <p class="list-group-item-text">
      <a href="{{ .signup_url }}">
        <span class="glyphicon glyphicon-pencil"></span>
        Zapisy
      </a>
    </p>
  {{ end }}
  {{ if .notes }}
    <hr>
    <p>{{ .notes }}</p>
  {{ end }}
</div>
