<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      Liga {{ .Scratch.Get "season" }}
    </div>
    {{ $player := .Scratch.Get "player" }}
    <div class="pull-right">
        Miejsce: <strong>{{ $player.rank }}</strong> | Punkty: <strong>{{ $player.points }}</strong> / {{ $player.points_total }}
    </div>
    <div class="clearfix"></div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <td style="width: 15%">Data</td>
        <td>Turniej</td>
        <td style="width: 10%">Miejsce</td>
        <td style="width: 10%">Punkty</td>
      </tr>
    </thead>
    <tbody>
      {{ range $player.results }}
      <tr class="{{ if .is_ranking }}success{{ end }}">
        <td>{{ time.Format "2006-01-02" .tournament.date }}</td>
        <td><a href="{{ .tournament.url }}">{{ .tournament.name }}</a></td>
        <td>{{ .rank }}</td>
        <td>{{ .points }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
