{{ define "title" }}
<h1 class="entry-title">
  <a href="{{ .Permalink }}" rel="bookmark">
    {{ .Title }}
  </a>
</h1>
{{ end }}

{{ define "content" }}
<h6 style="text-align: center">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSegfrplIpFshNtUw_dzuiT9g-MVprau0Dws3oGW8pt5H7BqKA/viewform">Zgłoś nowe wydarzenie</a>
</h6>

<h2>Nadchodzące</h2>
<div class="list-group">
  {{ range sort $.Site.Data.events "date" "asc" }}
  {{ if ge ( .date | time.AsTime ).Unix now.Unix  }}
  {{ partial "event.html" . }}
  {{ end }}
  {{ end }}
</div>

<h2>Minione</h2>
<div class="list-group">
  {{ range sort $.Site.Data.events "date" "desc" }}
  {{ if lt ( .date | time.AsTime ).Unix now.Unix  }}
  {{ partial "event.html" . }}
  {{ end }}
  {{ end }}
</div>

{{ end }}
