{{ define "title" }}
<h1 class="entry-title">
  <a href="{{ .Permalink }}" rel="bookmark">
    {{ .Title }}
  </a>
</h1>
{{ end }}

{{ define "content" }}
<h2>Nadchodzące</h2>
<div class="list-group">
  {{ range sort $.Site.Data.events "date" "asc" }}
  {{ if ge ( .date | time.AsTime ).Unix now.Unix  }}
  {{ partial "event.html" . }}
  {{ end }}
  {{ end }}
</div>

<h2>Minione</h2>
<div class="list-group">
  {{ range sort $.Site.Data.events "date" "desc" }}
  {{ if lt ( .date | time.AsTime ).Unix now.Unix  }}
  {{ partial "event.html" . }}
  {{ end }}
  {{ end }}
</div>

{{ end }}
